* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-050: #f0fdf4;
    --green-300: #86efac;
    --green-500: #22c55e;
    --green-700: #15803d;
    --green-950: #052e16;
}

body {
    background-color: var(--green-700);
    font-family: "Permanent Marker", system-ui;
    user-select: none;
    height: 100dvh;
}

h1 {
    font-size: 54px;
}

h2 {
    color: var(--green-950);
    font-size: 24px;
}

button {
    font-family: "Permanent Marker", system-ui;
    color: var(--green-050);
}

section.jankenpon {
    position: relative;
    height: 100%;
}

section.jankenpon div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    height: 100%;
    width: 480px;
}

section.jankenpon div.container h1.jankenpon__title {
    color: var(--green-300);
    filter: drop-shadow(0px 5px 0px var(--green-950));
}

section.jankenpon div.container div.jankenpon__card {
    background-color: var(--green-300);
    border-radius: 25px;
    box-shadow: var(--green-950) 0px 10px 10px;
    padding: 30px;
    height: 350px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player,
section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

section.jankenpon div.container div.jankenpon__card span.jankenpon__card--vs {
    font-size: 48px;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player,
section.jankenpon div.container div.jankenpon__card span.jankenpon__card--vs {
    color: var(--green-950);
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice,
section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer div.jankenpon__computer--choice {
    background-color: var(--green-700);
    color: var(--green-050);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice span.jankenpon__choice--score,
section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer div.jankenpon__computer--choice span.jankenpon__choice--score {
    background-color: var(--green-500);
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice div.jankenpon__choice--result,
section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer div.jankenpon__computer--choice div.jankenpon__choice--result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 20px;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice div.jankenpon__choice--result i,
section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer div.jankenpon__computer--choice div.jankenpon__choice--result i {
    font-size: 64px;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice div.jankenpon__choice--result span.jankenpon__result--text,
section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer div.jankenpon__computer--choice div.jankenpon__choice--result span.jankenpon__result--text {
    font-size: 20px;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--buttons {
    display: flex;
    gap: 10px;
    width: 100%;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--buttons button.jankenpon__buttons--button {
    background-color: var(--green-700);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px var(--green-950);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    transition: .3s;
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player .jankenpon__player--buttons button.jankenpon__buttons--button:active {
    box-shadow: 0 0 var(--green-950);
    transform: translateY(5px);
}

section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player .jankenpon__player--buttons button.jankenpon__buttons--button span.jankenpon__button--text {
    font-size: 10px;
}

/* Popup */
section.jankenpon div.jankenpon__popup.show {
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.jankenpon div.jankenpon__popup.hidden {
    display: none;
}

section.jankenpon div.jankenpon__popup div.jankenpon__popup--card {
    background-color: var(--green-300);
    border-radius: 25px;
    box-shadow: var(--green-950) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

section.jankenpon div.jankenpon__popup div.jankenpon__popup--card button.jankenpon__card--button {
    background-color: var(--green-700);
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 5px var(--green-950);
    transition: .3s;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    section.jankenpon div.container {
        gap: 20px;
        width: 300px;
    }

    section.jankenpon div.container div.jankenpon__card {
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    section.jankenpon div.container div.jankenpon__card span.jankenpon__card--vs {
        font-size: 36px;
    }

    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice span.jankenpon__choice--score,
    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer div.jankenpon__computer--choice span.jankenpon__choice--score {
        border-radius: 10px;
        font-size: 14px;
        height: 25px;
        width: 25px;
    }

    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice div.jankenpon__choice--result i,
    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--computer div.jankenpon__computer--choice div.jankenpon__choice--result i {
        font-size: 36px;
    }

    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice div.jankenpon__choice--result span.jankenpon__result--text {
        font-size: 14px;
    }

    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player h2.jankenpon__player--title {
        order: 3;
    }

    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--choice {
        order: 1;
    }

    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--buttons {
        order: 2;
        width: 100%;
    }

    section.jankenpon div.container div.jankenpon__card div.jankenpon__card--player div.jankenpon__player--buttons button.jankenpon__buttons--button {
        width: 100%
    }
}